//Variables
$pale_blue: hsl(225, 100%, 94%);
$bright_blue: hsl(245, 75%, 52%);
$very_pale_blue: hsl(225, 100%, 98%);
$desaturated_blue: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background: no-repeat top/cover url('../images/pattern-background-desktop.svg');
    background-color: $pale_blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .card {
    max-width: 40vw;
    background-color: #fff;
  }
}