//Variables
$pale_blue: hsl(225, 100%, 94%);
$bright_blue: hsl(245, 75%, 52%);
$very_pale_blue: hsl(225, 100%, 98%);
$desaturated_blue: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  //Defines what 1rem is
  font-size: 62.5%; //10px
}

body {
    box-sizing: border-box;
    background: no-repeat top/cover url('../images/pattern-background-desktop.svg');
    background-color: $pale_blue;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    color: $desaturated_blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__image {
    border-radius: 2rem 2rem 0 0;
  }

  &__heading {
    padding: 4rem 0 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: $dark_blue;
  }

  &__para {
    max-width: 40rem;
    padding: 0 2rem;
    font-size: 1.6rem;
  }
}